.DS_Store
.svelte-kit/
package/
.env
.env.*
!.env.template
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
node_modules/
build/
__sapper__/
.pnpm/
.pnpm-store/
.env.local
.env.development.local
.env.production.local
*.bak
*.swp
*.tmp
*.swo
*.swn
*.log
.vscode/
.idea/
.cache/
public/build/
dist/
output/
.tmp/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*